body {
  background-color: #34b8d0;
  color: white;
}

a, a:hover {
  color: #34b8d0;
}

.content {
  background-color: white;
  color: black;
}

p {
  text-align:justify;
  padding-top: 10px;
}

li {
  text-align:justify;
  padding-top: 10px;
}

.title {
  font-size: 18px;
  line-height: 20px;
}

h2 {
  font: 24px/36px 'Shadows Into Light Two', cursive;
  margin-top:50px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #34b8d0;
  color: white;
}

.header .span2, .header .span3 {
  font: 32px/32px 'Shadows Into Light Two', cursive;  
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-top: 5px;
}

.header a {
  color: white;
}


.header a:hover {
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
}


.subtitle {
  text-align:center;
}

strong {
  font-size: 20px;
  padding-left: 2px;
}

p.definition {
  padding-top: 0;
}

p.sponsors {
  padding-top: 5px;
}

.span6 p {
  margin-right: 20px;
}

a.address, a.address:hover {
  color: black;
  text-decoration: underline;
}

p.subscribe {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

ul.speakers {
  list-style-type: none;
  margin: 5px;
}

ul.speakers li:first-child {
  padding-left: 0px;
}

ul.speakers li {
  padding-top: 0px;
  font-size:10px;
  float: left;
  padding-left: 5px;
}

strong.sessiontitle {
  font-size: 14px;
}

.table tbody tr td:first-child {
  width: 50px;
  font-size: 10px;
}